<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>Restaurant Apps Starter Project</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <div id="brand-wrapper">
        <a id="brand">Good Resto</a>
        <a id="hamburger" href="#">☰</a>
      </div>
      <div id="nav-wrapper" class="">
        <a tabindex="0" href="/" class="nav-link">Home</a>
        <a tabindex="0" href="#" class="nav-link">Favorite</a>
        <a tabindex="0" href="https://www.linkedin.com/in/rezafirdaus080/" target="_blank" class="nav-link">About Us</a>
      </div>
    </nav>
  </header>
  <main>
    <section id="hero-jumbotron">
      <h1 tabindex="0">Good Resto</h1>
      <p>
        We always serving best for the best.
      </p>
    </section>
    <section id="explore">
      <div class="container">
        <h1 tabindex="0">Explore Restaurant</h1>
        <div id="content-wrapper"></div>
      </div>
    </section>
  </main>
  <footer>
    <p>Copyright 2021 made by Reza Firdaus</p>
  </footer>

  <script src="./bundle.js"></script>
</body>
</html>
