/*
   ***** MEDIA QUERIES *****
*/

@media screen and (max-width: 1024px) {
    #explore .container #content-wrapper {
        column-count: 2;
    }
}

@media screen and (max-width: 768px) {
    #explore .container #content-wrapper {
        column-count: 1;
    }
}

@media screen and (max-width: 425px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        margin: 0;
        /*padding: 20px 0 0 0;*/
    }

    #brand-wrapper {
        width: 100%;
    }

    #nav-wrapper {
        border-radius: 15px;
        margin-top: 20px;
        padding: 20px 0;
        flex-direction: column;
        width: 100%;
        background-color: var(--color-tertiary);
        align-items: start;
        display: none;
    }

    #nav-wrapper.active {
        display: flex;
    }

    .navbar #hamburger {
        display: block;
    }

    .navbar #nav-wrapper .nav-link {
        margin-left: 20px;
        color: var(--color-primary);
    }

    #hero-jumbotron p {
        font-size: 18px;
    }

}